In [1]:
import pandas as pd
import numpy as np
import csv

In [21]:
df=pd.read_csv(r'C:\Users\Obieda Saeed\Desktop\J data analysis assignment\movie1.csv')

In [22]:
df.head()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN

In [23]:
df.columns = df.columns.str.upper()

In [24]:
df.isnull().sum()

MOVIE_TITLE                  0
NUM_CRITIC_FOR_REVIEWS       0
DURATION                     3
DIRECTOR_FACEBOOK_LIKES      2
ACTOR_3_FACEBOOK_LIKES       0
ACTOR_1_FACEBOOK_LIKES       0
GROSS                        0
NUM_VOTED_USERS              1
CAST_TOTAL_FACEBOOK_LIKES    2
FACENUMBER_IN_POSTER         5
NUM_USER_FOR_REVIEWS         0
BUDGET                       0
TITLE_YEAR                   0
ACTOR_2_FACEBOOK_LIKES       1
IMDB_SCORE                   0
TITLE_YEAR.1                 7
dtype: int64

In [25]:
df = df.fillna(0)

In [26]:
df = df.drop_duplicates('MOVIE_TITLE')

In [27]:
df.head(10)

,MOVIE_TITLE,NUM_CRITIC_FOR_REVIEWS,DURATION,DIRECTOR_FACEBOOK_LIKES,ACTOR_3_FACEBOOK_LIKES,ACTOR_1_FACEBOOK_LIKES,GROSS,NUM_VOTED_USERS,CAST_TOTAL_FACEBOOK_LIKES,FACENUMBER_IN_POSTER,NUM_USER_FOR_REVIEWS,BUDGET,TITLE_YEAR,ACTOR_2_FACEBOOK_LIKES,IMDB_SCORE,TITLE_YEAR.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,0.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1,0.0
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,0.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5,0.0
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,0.0
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,0.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8,0.0
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,0.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,0.0
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9,2016.0

In [28]:
df.dtypes

MOVIE_TITLE                   object
NUM_CRITIC_FOR_REVIEWS         int64
DURATION                     float64
DIRECTOR_FACEBOOK_LIKES       object
ACTOR_3_FACEBOOK_LIKES         int64
ACTOR_1_FACEBOOK_LIKES         int64
GROSS                          int64
NUM_VOTED_USERS              float64
CAST_TOTAL_FACEBOOK_LIKES    float64
FACENUMBER_IN_POSTER         float64
NUM_USER_FOR_REVIEWS           int64
BUDGET                         int64
TITLE_YEAR                     int64
ACTOR_2_FACEBOOK_LIKES       float64
IMDB_SCORE                   float64
TITLE_YEAR.1                 float64
dtype: object

In [46]:
import re

In [60]:
MOVIE_TITLE = df.MOVIE_TITLE

In [70]:
df.MOVIE_TITLE = MOVIE_TITLE.str[:-2]

In [138]:
df

,MOVIE_TITLE,NUM_CRITIC_FOR_REVIEWS,DURATION,DIRECTOR_FACEBOOK_LIKES,ACTOR_3_FACEBOOK_LIKES,ACTOR_1_FACEBOOK_LIKES,GROSS,NUM_VOTED_USERS,CAST_TOTAL_FACEBOOK_LIKES,FACENUMBER_IN_POSTER,NUM_USER_FOR_REVIEWS,BUDGET,TITLE_YEAR,ACTOR_2_FACEBOOK_LIKES,IMDB_SCORE,TITLE_YEAR.1
0,Avatar,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9,2009
1,Pirates of the Caribbean: At World's End,302,117.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1,NOT APPLICABLE
2,Spectre,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015
3,The Dark Knight Rises,813,117.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5,NOT APPLICABLE
4,John Carter,462,132.0,475,530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NOT APPLICABLE
5,Spider-Man 3,392,156.0,23,4000,24000,336530303,383056.0,46055.0,0.0,1902,258000000,2007,11000.0,6.2,2007
6,Tangled,324,117.0,15,284,799,200807262,294810.0,0.0,1.0,387,260000000,2010,553.0,7.8,NOT APPLICABLE
7,Avengers: Age of Ultron,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NOT APPLICABLE
9,Harry Potter and the Half-Blood Prince,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NOT APPLICABLE
10,Batman v Superman: Dawn of Justice,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9,2016
11,Superman Returns,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1,NOT APPLICABLE
12,Quantum of Solace,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008
13,Pirates of the Caribbean: Dead Man's Chest,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008

In [143]:
round(df['DURATION'].mean())

144

In [156]:
DU = df.DURATION.replace({117:round(df['DURATION'].mean())})

In [157]:
df.DURATION = DU

In [158]:
df["DIRECTOR_FACEBOOK_LIKES"]=df["DIRECTOR_FACEBOOK_LIKES"].replace({'"475"':475})

In [159]:
df.head()

,MOVIE_TITLE,NUM_CRITIC_FOR_REVIEWS,DURATION,DIRECTOR_FACEBOOK_LIKES,ACTOR_3_FACEBOOK_LIKES,ACTOR_1_FACEBOOK_LIKES,GROSS,NUM_VOTED_USERS,CAST_TOTAL_FACEBOOK_LIKES,FACENUMBER_IN_POSTER,NUM_USER_FOR_REVIEWS,BUDGET,TITLE_YEAR,ACTOR_2_FACEBOOK_LIKES,IMDB_SCORE,TITLE_YEAR.1
0,Avatar,723,178.0,10,855,1000,760505847,886204.0,4834.0,0.0,3054,237000000,2009,936.0,7.9,2009
1,Pirates of the Caribbean: At World's End,302,144.0,563,1000,40000,309404152,471220.0,48350.0,0.0,1238,300000000,2007,5000.0,7.1,NOT APPLICABLE
2,Spectre,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015
3,The Dark Knight Rises,813,144.0,22000,23000,27000,448130642,1144337.0,106759.0,0.0,2701,250000000,2012,23000.0,8.5,NOT APPLICABLE
4,John Carter,462,132.0,475,530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NOT APPLICABLE

In [148]:
df.isnull().sum()

MOVIE_TITLE                  0
NUM_CRITIC_FOR_REVIEWS       0
DURATION                     0
DIRECTOR_FACEBOOK_LIKES      0
ACTOR_3_FACEBOOK_LIKES       0
ACTOR_1_FACEBOOK_LIKES       0
GROSS                        0
NUM_VOTED_USERS              0
CAST_TOTAL_FACEBOOK_LIKES    0
FACENUMBER_IN_POSTER         0
NUM_USER_FOR_REVIEWS         0
BUDGET                       0
TITLE_YEAR                   0
ACTOR_2_FACEBOOK_LIKES       0
IMDB_SCORE                   0
TITLE_YEAR.1                 0
dtype: int64

In [178]:
df[['DURATION', 'DIRECTOR_FACEBOOK_LIKES','NUM_VOTED_USERS','CAST_TOTAL_FACEBOOK_LIKES','FACENUMBER_IN_POSTER','ACTOR_2_FACEBOOK_LIKES']] = df[['DURATION', 'DIRECTOR_FACEBOOK_LIKES','NUM_VOTED_USERS','CAST_TOTAL_FACEBOOK_LIKES','FACENUMBER_IN_POSTER','ACTOR_2_FACEBOOK_LIKES']].astype('int')

In [179]:
df.dtypes

MOVIE_TITLE                   object
NUM_CRITIC_FOR_REVIEWS         int64
DURATION                       int32
DIRECTOR_FACEBOOK_LIKES        int32
ACTOR_3_FACEBOOK_LIKES         int64
ACTOR_1_FACEBOOK_LIKES         int64
GROSS                          int64
NUM_VOTED_USERS                int32
CAST_TOTAL_FACEBOOK_LIKES      int32
FACENUMBER_IN_POSTER           int32
NUM_USER_FOR_REVIEWS           int64
BUDGET                         int64
TITLE_YEAR                     int64
ACTOR_2_FACEBOOK_LIKES         int32
IMDB_SCORE                   float64
TITLE_YEAR.1                  object
dtype: object

In [171]:
df["TITLE_YEAR.1"] = df["TITLE_YEAR.1"].replace({0:"NOT APPLICABLE"})

In [181]:
df['TITLE_YEAR']= df['TITLE_YEAR'].astype('str')

In [182]:
df.dtypes

MOVIE_TITLE                   object
NUM_CRITIC_FOR_REVIEWS         int64
DURATION                       int32
DIRECTOR_FACEBOOK_LIKES        int32
ACTOR_3_FACEBOOK_LIKES         int64
ACTOR_1_FACEBOOK_LIKES         int64
GROSS                          int64
NUM_VOTED_USERS                int32
CAST_TOTAL_FACEBOOK_LIKES      int32
FACENUMBER_IN_POSTER           int32
NUM_USER_FOR_REVIEWS           int64
BUDGET                         int64
TITLE_YEAR                    object
ACTOR_2_FACEBOOK_LIKES         int32
IMDB_SCORE                   float64
TITLE_YEAR.1                  object
dtype: object

In [137]:
df.shape

(13, 16)

In [186]:
df.to_csv('moive_cleaned.csv', encoding='utf-8', index=False)